@using Mictlanix.WebSites.JMR.Properties

@{
    ViewBag.Title = Resources.Delete;
}

<link href="@Url.Content("~/Content/admin.css")" rel="stylesheet" type="text/css"></link>
<div id="admin-panel">
    <h2>@Resources.Delete</h2>
    <p>@Resources.Message_DeleteUnsuccessful</p>
    <p>@Html.ActionLink(Resources.BackToList, "Index", new { })</p>
</div>