<h3>Gestión del Desempeño de las Aplicaciones</h3>
<ul>
	<li>
	    Monitoreo desde la perspectiva de usuario final.
	</li>
	<li>
		Monitoreo del sistema de principio a fin (transacciones, servidor, red, almacenamiento).
	</li>
	<li>
		Diagnósticos y entonación.
	</li>
	<li>
		Soporte a decisiones basado en modelos (base de datos de configuraciones, análisis de cambios).
	</li>
	<li>
		Rápida remediación a lo largo de todo el conjunto de tecnologías de aplicación sin importar.
	</li>
	<li>
		Análisis de causa raíz e impacto al negocio.
	</li>
</ul>