<h3>Máxima Disponibilidad al Menor Costo</h3>
<p>
	Nuestras soluciones de alta disponibilidad para software de infraestructura,  incluyen componentes desde la base de datos hasta los servidores de aplicación, y se basan en productos líderes en el mercado de calidad comprobada Oracle. Ellas cubren necesidades desde el centro de datos hasta sitios alternos y ayudan a proteger las aplicaciones críticas para el negocio contra paradas planeadas o no planeadas. 
</p>
<p>
	Con Oracle Real Applications cluster usted podrá proteger su base de datos contra fallas en los servidores, permitiéndole acceso continuo a todos los datos desde todos los nodos del cluster ya que cuenta con una configuración activo-activo. Adicionalmente, podemos añadirle una capa de protección a la base de datos destinando una copia de la misma hacia un sitio alterno haciendo uso de Oracle Data Guard, el cual puede permanecer inactivo esperando ser activado sólo en caso de una falla mayor en el sitio principal o bien con Oracle Active Data Guard para trabajar sobre la copia remota en operaciones de sólo lectura, como consultas, reportes u operaciones de ordenamiento.
</p>
<p>
	Por otro lado, con las características de alta disponibilidad de Oracle Fusion Middleware se puede garantizar la continuidad de servicio en todas las capa de la infraestructura para aplicaciones, desde los servidores web hasta los motores de ejecución Java, reaccionando ante eventos imprevistos o paradas planeadas para mantenimiento. Igualmente, se automatizan una gran cantidad de tareas que permiten hacer cambios en línea sin impactar los servicios.
</p>