<h3>Oracle Real Application Clusters (Oracle RAC)</h3>
<p>
	Su administración a través de la consola unificada Enterprise Manager GridControl reduce los costos de administración e incrementa la productividad de los DBAs.
</p>
<p>
	El software de clusterware incluido evita el gasto de comprar un software de terceros y facilita el soporte reduciendo el riesgo y el costo en la resolución de problemas.
</p>
<p>
	Protección de la inversión debido a la compatibilidad entre cada una de las ediciones de la base de datos, permitiendo crecer a medida que se necesita si perder la inversión realizada.
</p>
<p>
	Servicio continuo sin necesidad de reconexión, en caso de falla de algún nodo el usuario es automáticamente redirigido hacia otro nodo activo.
</p>
<h4>Capacidades</h4>
<ul>
	<li>
	    Configuración activo-activo.
	</li>
	<li>
		Acceso concurrente a todos los datos desde todos los nodos con excelente desempeño.
	</li>
	<li>
		Provee escalabilidad ilimitada y protección contra fallas en nodos de base datos.
	</li>
</ul>