<h3>Oracle Advanced Compression</h3>
<h4>Beneficios</h4>
<ul>
	<li>
		Costos de almacenamiento más bajos.
	</li>
	<li>
    	Menor requisito de espacio en disco para todo tipo de datos.
	</li>
	<li>
    	Mayor rendimiento de las aplicaciones.
	</li>
	<li>
    	Sirve para cualquier tipo de aplicación sin alterarla.
	</li>
</ul>
<h4>Capacidades</h4>
<ul>
	<li>
		Ayuda a gestionar más datos en una forma efectiva en costos. 
	</li>
	<li>
		Entrega tasas de compresión de 2 a 4 veces el tamaño en todos los tipos de datos y aplicaciones.
		Los ahorros en almacenamiento gracias a la compresión de reflejan a lo largo del centro de datos,
		reduciendo tráfico en la red y la cantidad de datos a respaldar también. AL leer menos bloques de disk,
		Oracle Advanced Compression también mejorar el rendimiento de las consultas.
	</li>
</ul>