<h3>Oracle DataGuard</h3>
<p>
    La replicación hacia un sitio alterno  de una manera simple, rápida y transparente a las aplicaciones garantiza un retorno de inversión más rápido mientras mantiene la continuidad del negocio
</p>
<p>
    Reducción de costos  de infraestructura al utilizar eficientemente el hardware, eliminando la redundancia ociosa por medio de Active Data Guard
</p>
<p>
    Consistencia de datos entre sitio principal y alterno casi de tiempo real.
</p>
<h4>Capacidades</h4>
<ul>
	<li>
		Protección contra paradas mayores que impliquen el uso de un sitio alterno para el funcionamiento de las bases de datos.
	</li>
	<li>
		Replicación de cambios a la base de datos directamente hacia una base de datos alterna, la cual puede utilizarse como fuente para operaciones de sólo lectura.
   	</li>
</ul>