<h3>Oracle Fusion Middleware</h3>
<p>
    Debido a que es una solución modular, integral y completa se puede garantizar el funcionamiento entre distintos componentes reduciendo el riesgo de falla, incrementando la calidad de servicio y facilitando el soporte.
</p>
<p>
    Las configuraciones activo-activo incrementan el uso eficiente de los recursos y garantizar un mínimo tiempo de recuperación.
</p>
<h4>Capacidades</h4>
<ul>
	<li>
    	Despliegues activo-activo o activo-pasivo para todas las capas de la arquitectura.
    </li>
	<li>
		Migración de servidor o de servicio.
	</li>
	<li>
		Replicación de estado.
	</li>
	<li>
		Despliegue, patching, notificación y cambios de configuración en caliente para aplicaciones.
	</li>
	<li>
		Aplicación de cambios tipo Batching.
	</li>
	<li>
		Activación diferida.
	</li>
	<li>
		Incorporación y desincorporación de servidores en caliente sin parar las aplicaciones.
	</li>
</ul>