<h3>Gestión del Ciclo de Vida</h3>
<ul>
	<li>
	    Automatización completa del Grid.
	</li>
	<li>
		Gestión de patches incluyendo Microsoft, Solaris y Linux.
	</li>
	<li>
		Aprovisionamiento Bare-metal.
	</li>
	<li>
		Aprovisionamiento de software Oracle incluyendo extensión a RAC con un solo click.
	</li>
	<li>
		Vistas de recursos virtualizados.
	</li>
	<li>
		Vista de topologías, gráficos de los sistemas y los servicios.
	</li>
	<li>
		Clonado, copiado y aprovisionamiento imágenes sistemas.
	</li>
	<li>
		Amplia gestión de ambientes heterogéneos para tecnologías no-Oracle incluyendo BEA, BMC, DELL, HP, IBM, JBoss, Microsoft y SAP.
	</li>
	<li>
		Gestión para Firewall Checkpoint y balanceadores de carga F5.
	</li>
</ul>