<h3>TI Alineado con el Negocio</h3>
<p>
	Acorde a Gartner “La creciente modularidad de las aplicaciones está llevando a cambios fundamentales en la tecnología de gestión de operaciones”. Específicamente, nuevas y emergentes tecnologías tales como SOA y Grid Computing junto a requerimientos de cumplimiento de regulaciones más exigentes están añadiendo complejidad a la gestión de de TI. Oracle Enterprise Manager con su aproximación de arriba hacia abajo es la única solución en el mercado que provee una gestión amplia e integrada para aplicaciones personalizadas o empaquetadas y su infraestructura relacionada. Él permite que el negocio y TI permanezcan conectados en todo momento, ayudando a TI para enfocarse en lo que más importa – las aplicaciones de negocio que generan ganancias.
</p>
<p>
	Oracle Enterprise Manager atiende estos retos con una nueva propuesta que incorpora puntos claves de integración a lo largo de los procesos de gestión de TI, procesos de negocio y la comunidad Oracle. Esta nueva y única aproximación habilita a las organizaciones de TI para manejar la eficiencia en TI y la agilidad del negocio.
</p>
<p>
	Con nuestra solución de administración Oracle Enterprise Manager Grid Control se pueden gestionar niveles de servicio relacionados con desempeño, uso y disponibilidad, usando reportes predefinidos y personalizables. Adicionalmente, se puede realizar el monitoreo del desempeño en las aplicaciones desde el punto de vista del usuario final, incluyendo transacciones, servidores, redes y almacenamiento. Igualmente, Oracle Enterprise Manager diagnostica la causa raíz de problemas, y permite evaluar el impacto al negocio de los mismos.
</p>
<p>
	Por otro lado, contamos con herramientas para hacer análisis, monitoreo, auditoria e históricos de los cambios en las configuraciones de hardware y software. Al mismo tiempo que facilitamos la administración y disponibilidad de las aplicaciones y bases de datos por medio de la automatización de tareas administrativas rutinarias, como por ejemplo aplicación de patches, aprovisionamiento de software, inventario de componentes y clonado de imágenes de sistemas.
</p>
<h4>Beneficios</h4>
<ul>
	<li>
	    Máximo retorno de inversión utilizando la gestión integrada desde las aplicaciones hasta los discos.
	</li>
	<li>
		Mayor satisfacción y productividad gracias a su gestión integrada de sistemas desde una sola consola.
	</li>
	<li>
		Alineación de las TI con las prioridades del negocio.
	</li>
	<li>
		Reducción de costos en la gestión de TI.
	</li>
	<li>
		Incremento en la calidad del servicio.
	</li>
</ul>