<h3>Oracle Database Partitioning</h3>
<p>
	Es un requerimiento clave de cualquier base de datos grande con necesidades de alto desempeño y alta disponibilidad. Oracle Partitioning permite que grandes tablas e índices sean divididos en componentes más pequeños y manejables, sin requerir cambios en las aplicaciones. Partitioning es la base de la estrategia para Gestión del ciclo de vida de la información (ILM) de Oracle, la cual alinea el valor de negocio de la información del cliente con almacenamiento efectivo en costos.
</p>
<h4>Beneficios</h4>
<ul>
	<li>
		Ahorra dinero y mejora el desempeño usándolo como base para tu estrategia ILM. Reduce el costo de almacenamiento a la mitad o más.
	</li>
	<li>
    	Mejora el desempeño y simplifica la administración usándolo para data warehouses, bases de datos operativas y sistemas de gestión de contenido.
	</li>
</ul>