<h3>Datos al Instante</h3>
<p>
	Para los gerentes de desarrollo de software y ejecutivos de negocio responsables de las iniciativas de aplicaciones en tiempo real, quienes están buscando una base de software comercialmente probado, Oracle TimesTen In-Memory Database y Oracle In-Memory Database Cache son software para gestión de datos en tiempo real líderes en el mercado usados por cientos de compañías alrededor del mundo por más de 9 años para habilitar aplicaciones intensivas en datos que deben ser altamente escalables, continuamente disponibles y de respuesta inmediata.
</p>
<p>
	Distinto a los esfuerzos de desarrollo  en casa, Oracle TimesTen In-Memory Database soporta estándares de base de datos relacionales y ofrece replicación de datos. Oracle In-Memory Database Cache ofrece las característica de TimesTen con la capacidad adicional de hacer cache de los datos.
</p>
<p>
	Por otro lado, la explosión del volumen de datos que está siendo experimentada por las empresas introduce retos significativos. Las compañías deben adaptarse rápidamente al cambiante escenario del negocio con el menor impacto posible. Los gerentes de TI necesitan manejar eficientemente su infraestructura de TI para controlar los costos  mientras continúan entregando un desempeño extraordinario de sus aplicaciones. Oracle Partitioning y Oracle Advanced Compression permite hacer uso eficiente de la infraestructura, tanto en almacenamiento como redes, incluso cuando se trata de altos volúmenes de datos históricos.
</p>
