<h3>Gestión del Nivel de Servicio</h3>
<ul>
	<li>
	    Modelado lógico (agrupación y virtualización).
	</li>
	<li>
		Gestión de niveles de servicio para ASP, MSP y configuraciones tradicionales de TI.
	</li>
	<li>
		Disponibilidad de aplicación.
	</li>
	<li>
		Monitoreo  de rendimiento, uso y disponibilidad.
	</li>
	<li>
		Vistas sobre servicios.
	</li>
	<li>
		Reportes predefinidos y personalizables.
	</li>
</ul>