<h3>Gestión de Cambios y Configuraciones</h3>
<ul>
	<li>
	    Descubrimiento de todas las configuraciones de hardware y software.
	</li>
	<li>
		Análisis, monitoreo y auditoria de los cambios en las configuraciones.
	</li>
	<li>
		Base para control de cambios y cumplimiento de regulaciones.
	</li>
</ul>