<h3>Oracle TimesTen In-Memory Database</h3>
<p>
	Es una base de datos relacional usada dentro de aplicaciones críticas en desempeño para proveer tiempos de respuesta inmediata y cache de datos en tiempo real. En estas aplicaciones los milisegundos importan. Oracle TimesTen reside en la capa de aplicación y gestiona las bases de datos que residen en memoria principal.
</p>
<h4>Beneficios</h4>
<ul>
	<li>
		Ayuda a incrementar la lealtad de tus clientes a través un mejor tiempo de respuesta.
	</li>
	<li>
    	Permite monitorear y reaccionar ante eventos claves en tiempo real.
	</li>
	<li>
    	Da la capacidad de desarrollar nuevos servicios que antes eran imposible.
	</li>
	<li>
    	Ofrece tiempos más rápidos para acceder al mercado con excelente funcionalidad, alta disponibilidad y flexibilidad basada en estándares.
	</li>
</ul>