<h3>Active Memory™ Expansion</h3>
<p>
	Active Memory™ Expansion que ayuda a reducir los costos de la memoria permitiendo que la memoria física se expanda en forma lógica hasta en un 100 % para algunas cargas de trabajo, como por ejemplo SAP.
</p>
<h4>Capacidades</h4>
<ul>
	<li>
		Emplea tecnología de compresión de memoria principal para permitir que más datos sea colocados  en ella y de este modo expandir la capacidad de memoria de los sistemas configurados. La compresión de los datos en memoria es manejada por el sistema operativo, y es completamente transparente para aplicaciones y usuarios.
	</li>
</ul>