<h3>Recuperación Sin Tiempo de Parada</h3>
<p>
	Nuestras soluciones de alta disponibilidad para servidores empresariales se benefician de décadas de experiencia IBM en el diseño y despliegue de tanto hardware como software para operación continua. Ellas cubren necesidades de operación continua desde el centro de datos hasta sitios alternos y ayudan a proteger las aplicaciones críticas para el negocio contra paradas planeadas o no planeadas, conformando la base fundamental para ser capaz de cumplir con  sus compromisos de niveles de servicios acordados en su empresa. 
</p>
<p>
	Dichas aplicaciones son configuradas dentro de un cluster, lo cual típicamente involucra al menos dos sistemas, llamados nodos; el software de cluster PowerHA monitorea los recursos críticos por eventos que pudieran indicar una falla o cambios de configuración que no sean consistentes y reacciona ante estos eventos habilitando el paso automático de un nodo a otro o hacia un sitio alterno. Nuestra moderna solución no solamente incluye componentes de cluster sino también componentes del sistema operativo AIX y características de ambientes virtualizados para asegurar el continuo funcionamiento de las aplicaciones incluso durante actualizaciones de sistemas completos.
</p>
<p>
	Adicionalmente, contamos otro componente en nuestra solución llamado General Parallel File System (GPFS) que puede garantizar el acceso concurrente e inmediato a los datos por parte de todos los nodos en un cluster, evitando la necesidad de importar y montar los sistemas de archivo en el nodo inactivo.
</p>