<h3>Tecnología de Cache Inteligente</h3>
<p>
	El cache es una memoria muy rápida que se ubica justo sobre el procesador. Muchas cargas de trabajo mejoran su rendimiento cuando los datos e instrucciones son colocadas en estos caches debido a que el núcleo de procesamiento tiene acceso muy rápido a esa memoria.
</p>
<p>
	Hay hasta 8 núcleos en un módulo de procesador POWER7. Cada uno de estos núcleos tiene un cache dedicado para su uso. Si un procesador está ejecutando tareas que no necesitan toda su memoria cache, el sistema hace disponible esta memoria ociosa para otro núcleo.
</p>
<h4>Capacidades</h4>
<ul>
	<li>
		El procesador IBM POWER7 tiene la habilidad de variar el número de hilos de ejecución en un procesador dependiendo de la carga de trabajo. El sistema automáticamente selecciona o el administrador selecciona manualmente si la carga de trabajo se beneficia de tener todo el procesamiento en un hilo, o si es mejor dividirlo en dos o cuatro hilos de ejecución. Con más hilos, el procesador POWER7 puede entregar más capacidad total y más tareas pueden ser completadas en paralelo. Con menos hilos, aquellas cargas de trabajo que necesitan tareas individuales muy rápidas obtienen mayor beneficio.
	</li>
</ul>