<h3>IBM Systems Director</h3>

<p>
	Con IBM Systems Director se puede administrar desde una sola consola, con interfaz de usuario amigable, todos sus ambientes virtualizados PowerVM, Vmware, Xen y HyperV, realizando tareas desde monitoreo hasta clonado de ambientes y reubicación de cargas de trabajo automatizada. Adicionalmente, permite monitorear, establecer alertas, configurar y mantener los inventarios de configuraciones de equipos de hardware como servidores, almacenamiento, switches. Dentro de sus funciones se incluye la capacidad de analizar el consumo de energía de los equipos y en algunos casos modificarlo de acuerdo a las cargas de trabajo para ahorrar costos por este concepto.
</p>
<h4>Gestión de la Virtualización</h4>
<ul>
	<li>
    	Reúne la gestión de sistemas físicos y virtuales en una única interfaz para reducir la complejidad sin precedentes.
    </li>
	<li>
    	Monitoreo y descubrimiento físico y virtual.
    </li>
	<li>
    	Imágenes para aplicaciones de ISVs y gestión de pool de sistemas con despliegue sobre infraestructura virtual.
    </li>
	<li>
    	Establece exactitud y coherencia en el traspaso de imágenes de maquinas virtuales.
    </li>
</ul>
<h4>Gestión de la Energía</h4>
<ul>
	<li>
	    Monitoreo eléctrico y térmico.
	<li>
		Reportes de análisis en tiempo real y de tendencias.
	</li>
	<li>
	    Control sobre consumo de energía eléctrica en equipos inteligentes.
    </li>
</ul>
<h4>Gestión de la Disponibilidad</h4>
<ul>
	<li>
	    Vistas de topología para rápido drill-down.
	<li>
	    Administración y actualizaciones de servidores.
	</li>
	<li>
	    Monitoreo, notificación y gestión de ISVs con estatus de infraestructura de sistemas resumido.
    </li>
	<li>
	    Provee abstracción lógica centrada en cargas de trabajo para administrar los recursos de sistemas en el centro de datos incluyendo servidores, almacenamiento y redes.
    </li>
	<li>
	    Ofrece una gestión de plataformas y sistemas operativos heterogéneos, lo que ayuda a mejorar la prestación de servicios mediante la eliminación de las islas de virtualización.
    </li>
	<li>
	    Reduce los costos operativos y de infraestructura a través de una mayor eficiencia y utilización de los recursos.
    </li>
</ul>