<h3>Tecnología de Enegía Inteligente</h3>
<p>
	La tecnología EnergyScale™ para reducir el consumo de energía, y proveer la capacidad de administrar y adaptar el uso energético permitiendo maximizar el desempeño dinámicamente cuando las condiciones térmicas lo permitan.
</p>
<h4>Capacidades</h4>
<ul>
	<li>
		Ayuda a optimizar dinámicamente el uso de la energía y el desempeño para mantener el mejor balance posible entre ambos. El IBM EnergyScale™ trabaja con el IBM Systems Director Active Energy Manager para optimizar la velocidad del procesador basado en las condiciones térmicas y la utilización del sistema. Si el ambiente es favorable, el sistema puede acelerar los núcleos de procesamiento a una frecuencia de hasta un 10% más que la velocidad normal para manejar mejor las cargas de trabajo. Cuando la utilización es poca, o si las condiciones ambientales son menos favorables, el sistema puede desacelerar los núcleos de procesamiento hasta un 50% para ahorrar energía.
	</li>
</ul>