<h3>IBM General Parallel File System</h3>
<h4>Beneficios</h4>
<ul>
	<li>
	    Acelera el tiempo de recuperación ante fallas, asegurando la continuidad del negocio a pesar de eventos imprevistos.
	</li>
	<li>
	    Única capacidad de expansión para manejar el crecimiento explosivo de la información digital y mejorar la eficiencia en la distribución de información inter-departamental a  lo largo de la empresa.
	</li>
	<li>
	    Alta disponibilidad y confiabilidad para eliminar paradas en producción y proveer mantenimiento o actualizaciones de capacidad sin interrumpir el servicio.
	</li>
	<li>
	    Su rendimiento satisface las aplicaciones más demandantes.
	</li>
	<li>
	    La automatización basada en políticas facilita la gestión del ciclo de vida de la información.
	</li>
	<li>
	    Infraestructura extensible de gestión y monitoreo que simplifica la administración de los sistemas de archivos.
	</li>
	<li>
	    Continuidad de negocio al mejor costo.
	</li>
</ul>
<h4>Capacidades</h4>
<ul>
	<li>
	    Solución de alto desempeño para gestión de archivos con discos compartidos en ambientes de alta disponibilidad. 
	</li>
	<li>
	    Permite acceso rápido y concurrente a un archivo por parte de múltiples nodos.
	</li>
	<li>
	    Acceso inmediato a los datos aunque ocurra una falla : elimina totalmente la necesidad de importar y exportar grupos de volúmenes, así como también la necesidad de montar y desmontar filesystems.
	</li>
</ul>