<h3>PowerVM Micro-Partitioning™ y Particiones Lógicas Dinámicas</h3>
<p>
	PowerVM Micro-Partitioning™ y Particiones Lógicas Dinámicas ofrecen la capacidad de ejecutar hasta 10 particiones por núcleo de procesador, y trasladar dinámicamente los recursos del procesador, de la memoria y de I/O entre las particiones, lo cual implica una gran flexibilidad para adaptarse a los cambiantes requisitos de las cargas de trabajo.
</p>
<p>
	AIX Workload Partitions es una aproximación basada en software introducida desde el sistema operativo AIX 6, la cual permite la creación de múltiples ambientes virtuales de AIX dentro de una única instancia de AIX, incrementando así la eficiencia en el uso de los recursos.
</p>
<h4>Capacidades</h4>
<ul>
	<li>
	    Permite hasta 10 VM por core de procesador.
	</li>
	<li>
	    Los recursos de procesador, memoria y entrada/salida (E/S) pueden transferirse dinámicamente de una máquina virtual a otra según las necesidades de la carga de trabajo.
	</li>
	<li>
	    Las máquinas virtuales pueden utilizar recursos de procesador dedicados o compartidos (limitados o ilimitados).
	</li>
</ul>