<h3>Cargas de Trabajo Optimizadas</h3>
<p>
	Nuestros sistemas están desarrollados para cubrir requerimientos de diferentes tipos de cargas de trabajo (una combinación de aplicaciones, datos, niveles de servicio, seguridad y calidad de servicio), permitiendo a los clientes escoger una solución que se ajuste a sus necesidades de negocio. Con nuestras tecnologías se puede obtener ventaja competitiva para nuestros clientes escalando y ajustándose a las necesidades cambiantes del negocio, mientras se permite desarrollar nuevas capacidades y procesos. El resultado final es una mejora en el servicio, reducción de los costos y manejo del riesgo al mismo tiempo que se acelera el crecimiento del negocio.
</p>
<p>
	Los sistemas IBM basados en procesadores POWER7 ofrecen diseños balanceados que optimizan automáticamente el desempeño y la capacidad de acuerdo a la carga de trabajo tanto a nivel de sistema como a nivel de máquina virtual.
</p>
<p>
	Disponemos de sistemas con diferentes tecnologías para proporcionar beneficios dependiendo de la carga de trabajo, los cuales incluyen:
</p>
<ul>
	<li>
		TurboCore™
    </li>
	<li>
		Threading Inteligente
    </li>
	<li>
		Cache Inteligente
    </li>
	<li>
		EnergyScale™
    </li>
	<li>
		Active Memory™ Expansion
    </li>
	<li>
		PowerVM Micro-Partitioning™ 
    </li>
	<li>
		AIX Workload Partitions
    </li>
</ul>