<h3>IBM PowerVM Enterprise Edition Live Partition Mobility & Workload Partition Manager for AIX</h3>
<h4>Beneficios</h4>
<ul>
	<li>
	    Facilitan el mantenimiento y sustitución de sistemas sin impactar el funcionamiento del negocio.
	</li>
</ul>
<h4>Capacidades</h4>
<ul>
	<li>
	    Parada planeada de sistemas sin parada de aplicaciones, moviendo las máquinas virtuales y aplicaciones hacia servidores físicos diferentes sin detener las aplicaciones.
	</li>
</ul>