<h3>IBM PowerHA SystemMirror</h3>
<h4>Beneficios</h4>
<ul>
	<li>
	    Fácil de administrar, lo cual mejora la productividad y reduce costos de operación en el centro de datos.
	</li>
	<li>
	    Tiempo de recuperación de minutos, evita pérdida de ganancias por parada de sistemas,  por ejemplo manteniendo entregas oportunas de productos y satisfacción de los clientes.
	</li>
	<li>
	    Recuperación sin pérdida de datos, protege la información de la empresa garantizando cumplimiento de regulaciones y evitando pérdidas de ganancias por incumplimientos o retrasos en la producción.
	</li>
	<li>
	    Elimina efectos de paradas planeadas, de esta forma el negocio sigue funcionando aunque se estén realizando tareas de mantenimiento en los sistemas.
	</li>
</ul>
<h4>Capacidades</h4>
<ul>
	<li>
	    Gestión de recuperación para el centro de datos y sitios alternos.
	</li>
	<li>
	    Monitoreo, detección y reacción ante eventos.
	</li>
	<li>
	    Habilita paso automático de un nodo a otro, o de un sitio a otro.
	</li>
	<li>
	    Cluster de almacenamiento compartido.
	</li>
	<li>
	    Puede habilitar servicio continuo de aplicación.
	</li>
	<li>
	    Minimiza el impacto de las paradas planeadas y no planeadas.
	</li>
	<li>
	    Facilidad de uso para gestión de la plataforma de alta disponibilidad, usando asistentes y consola gráfica con generación de reportes.
	</li>
	<li>
	    Alta disponibilidad a nivel de sistema operativo.
	</li>
	<li>
	    Optimizado para el sistema operativo AIX.
	</li>
</ul>