<h3>Tecnología de Threading Inteligente</h3>
<p>
    La tecnología de threading inteligente, la cual es una característica flexible que permite utilizar dinámicamente más hilos de procesamiento cuando se beneficien las cargas de trabajo, acelerando la ejecución de las tareas.
</p>
<h4>Capacidades</h4>
<ul>
	<li>
		El procesador IBM POWER7 tiene la habilidad de variar el número de hilos de ejecución en un procesador dependiendo de la carga de trabajo. El sistema automáticamente selecciona o el administrador selecciona manualmente si la carga de trabajo se beneficia de tener todo el procesamiento en un hilo, o si es mejor dividirlo en dos o cuatro hilos de ejecución. Con más hilos, el procesador POWER7 puede entregar más capacidad total y más tareas pueden ser completadas en paralelo. Con menos hilos, aquellas cargas de trabajo que necesitan tareas individuales muy rápidas obtienen mayor beneficio.
	</li>
</ul>