<h3>TurboCore™</h3>
<p>
    TurboCore™ para una máximo desempeño en las bases de datos, subiendo la frecuencia de los procesadores y colocando más memoria cache disponible para ellos.
    Dos aceleradores de hardware integrados: “Decimal Floating-Point” para las aplicaciones empresariales y “AltiVec™ vectorized math common” en soporte al modelado en 3D para obtener computación de alto desempeño (HPC).
</p>
<h4>Capacidades</h4>
<ul>
	<li>
		El sistema modelo 780 basado en procesadores POWER7 ofrece un modo opcional llamado TurboCore, que permite usando la mitad de los procesadores que los núcleos ejecuten a una mayor frecuencia (cerca de 7.25% más rápido) y tengan más memoria cache disponible por núcleo. Mayor frecuencia y más cache proveen mejor desempeño, optimizando así los costos de licenciamento por procesador.
	</li>
</ul>