<h3>Integración de la Gestión con IBM Systems Director</h3>
<p>
	IBM Systems Director cuenta con flexibles funciones de gestión de almacenamiento y servidor.
</p>
<p>
	Esta solución ofrece un enfoque integrado de la Gestión del almacenamiento y los servidores de IBM diseñado para
	ayudar a las empresas de TI a solucionar los problemas más graves relacionados con la gestión de infraestructuras
	de servidores físicos y virtuales, incluyendo la supervisión y la reparación para obtener mayor disponibilidad,
	eficiencia operativa y planificación de la infraestructura. 
</p>
<p>
	Un único administrador del sistema puede gestionar y poner en funcionamiento servidores de IBM (System x, System p
	y BladeCenter) junto con una infraestructura de redes y almacenamiento de IBM (incluido IBMStorwize V7000) desde
	una única pantalla de gestión.
</p>