<h3>Almacenamiento Jerárquico</h3>
<p>
	Nuestra solución basada en el almacenamiento jerárquico automatizado optimiza la distribución de los datos
	permitiendo ubicarlos en distintos tipos de discos de manera que se mejore el rendimiento del sistema, se reduzcan
	los costos y se simplifique la gestión de la información. 
</p>
<p>
	Utilizando la tecnología EasyTier,se puede implementar discos de tecnología de estado sólido (SSD) de una forma
	segura, efectiva y económica moviendo de manera automática y dinámica solo los datos adecuados a los SSD del sistema
	en base una supervisión continua del rendimiento. 
</p>
<p>
	Esta efectiva jerarquización permite a los clientes disfrutar de las ventajas de rendimiento de los discos SSD, sin
	que sus administradores tengan la necesidad de crear y gestionar políticas jerárquicas, y sin los excesivos gastos
	asociados a la ubicación de un exceso de datos no apropiados para estas unidades relativamente costosas.
</p>
<p>
	Mejora significativa del acceso a los datos con IBM System Storage EasyTier.
</p>
<p>
	Easy Tier ofrece la migración automática a SSD de alto rendimiento de los datos a los que se accede con mayor 
	frecuencia, mejorando así la eficiencia de la utilización. Al funcionar con una granularidad detallada del
	‘Sub-LUN’, la función EasyTier recoloca automáticamente partes de los datos en la clase de unidades adecuada según
	los patrones de entrada/salida (E/S) y las características de la unidad sin necesidad de interacción administrativa.
</p>
<p>
	EasyTier también incluye la posibilidad de reubicar manualmente y sin interrupciones volúmenes lógicos completos,
	proporcionando más flexibilidad y control a las empresas que buscan alinear el rendimiento del sistema con las
	necesidades de sus aplicaciones de un modo más efectivo.
</p>
<p>
	EasyTier hace que implementar SSD en su entorno sea más
	sencillo y económico. Se crea un grupo híbrido de capacidad de almacenamiento y se divide en dos niveles dentro del
	grupo de discos gestionados, normalmente SSD y unidades de disco duro (HDD), aunque se permiten otras divisiones y
	definiciones.
</p>
<ul>
	<li>
		Los elementos de datos sub-LUN más utilizados se identifican y se reubican automáticamente en SSD de alto
		rendimiento.
	</li>
	<li>
		Los elementos de datos restantes pueden sacar partido a unidades con más capacidad y un precio optimizado
		para ofrecer el mejor valor al cliente. Los volúmenes de un grupo de discos gestionados SSD o HDD se
		supervisan y pueden gestionarse automáticamente o manualmente moviendo extensiones ‘caliente’ a SSD y
		extensiones más frías a HDD.
	</li>
</ul>