<h3>Protección de Datos con Servicios de Replicación</h3>
<p>
	Esta excelente solución de copiado avanzado FlashCopy enriquecido está concebidapara crear una copia prácticamente
	instantáneade los datos activos, que podría utilizarse para hacer una copia de seguridad o para permitir el
	procesamiento paralelo. Pueden crearse hasta 256 copias de cada volúmen.
</p>
<p>
	Admite operaciones incrementales de FlashCopy que mejoran la eficiencia copiando únicamente las partes del volumen
	de origen o destino que se han actualizado después de la última utilización de la función FlashCopy y también "copias
	de copias" cuando una copia se copia a si misma a su vez.
</p>
<p>
	Estas características podrían utilizarse para ayudar a mantener y actualizar un entorno de pruebas basado en datos
	de producción.
</p>
<p>
	Al combianrse con una solución de aprovisionamiento ligero (Thin Provitioning), se pueden crear copias utilizando
	solo una parte de la cantidad de almacenamiento necesaria para realizar una copia física co mpleta. Esta función,
	llamada Space Efficient FlashCopy, está diseñada para mejorar la utilización global de almacenamiento.
</p>