<h3>Copiado y Replicación de Datos Remota</h3>
<p>
	Las funciones Metro Mirror y Global Mirror operan entre nuestros sistemas de almacenamiento en ubicaciones
	diferentes para ayudar a crear copias de datos que puedan utilizarse en el caso de que se produzca una catástrofe
	en un centro de datos. 
</p>
<p>
	Metro Mirror está concebido para mantener una copia completamente sincronizada a distancias ‘metropolitanas’ (hasta
	300 km), mientras que Global Mirror está concebido para funcionar de forma asíncrona, de modo que permite mantener
	una copia a distancias mucho mayores (hasta 8.000 km). 
</p>
<p>
	Ambas funciones se han diseñado para ser compatibles con VMware vCenter Site Recovery Manager y ayudar a acelerar
	la recuperación en caso de desastre.
</p>