<h3>Tivoli Storage Productivity Center (TPC)</h3>
<p>
	<i>Buenas herramientas = Administración de la SAN exitoso!</i>
</p>
<p>
	Existen muchos desafíos de cara a los negocios que provocan que uno piense como manejar la información más
	efectivamente y eficientemente.
</p>
<ul>
	<li>
		Los presupuestos son planos debido a la economía mundial débil.
	</li>
	<li>
		Nuevas regulaciones del gobierno están siendo promulgadas.
	</li>
	<li>
		Los datos está creciendo a un ritmo rápido, más del 50% anual en muchas industrias.
	</li>
	<li>
		Gestión de almacenamiento todavía se hace como un proceso manual de todo, propenso al error humano que aumenta
		los riesgos empresariales.
	</li>
	<li>
		Los activos en el piso en que no se utilizan plenamente. Muchas compañías están utilizando sólo una fracción del
		almacenamiento que ha comprado.
	</li>
</ul>
<p>
	El fondo es nuestra entornos de almacenamiento seguirá creciendo en tamaño y complejidad, mientras que el número de
	personas que tenemos que manejarlo NO!
</p>
<p>
	Con Tivoli Productivity Center usted podrá:
</p>
<ul>
	<li>
		Habilitar la gestión del almacenamiento de principio a fin.
	</li>
	<li>
		Gestionar todo el centro de datos desde una única interfaz de usuario incluyendo dispositivos de otros
		proveedores de hardware.
	</li>
	<li>
		Mejor utilización del almacenamiento, rendimiento y niveles de servicios.  Vistas y gestión integral de
		topologías de la SAN.
	</li>
	<li>
		Reduce la complejidad del almacenamiento con informes de almacenamiento de distintos sistemas de archivos,
		bases de datos almacenamiento de servidores.  Correlación con la utilización de los servidores.
	</li>
	<li>
		Se integra con otros productos de Tivoli para obtener una gestión completa del ciclo de vida de la información. 
	</li>
	<li>
		Ayuda para la configuración, planificación e implementación del aprovisionamiento optimizando estas funciones.
	</li>
	<li>
		Gestión de cambios con seguimiento, auditoría y comparación.
	</li>
	<li>
		Análisis de tendencias de rendimiento, cuellos de botella y equilibrio de carga
	</li>
	<li>
		Amplia cantidad de reportes de equipos activos, capacidad, utilización, repercusión, cuellos de botella etc.
	</li>
	<li>
		Amplia cobertura de plataforma de servidores, sistemas operativos, bases de datos, dispositivos.
	</li>
</ul>