<h3>Virtualización del Almacenamiento</h3>
<ul>
	<li>
		Simple y más sencilla administración: Un solo punto de acceso.
	</li>
	<li>
		Acceso via un navegador web.
	</li>
	<li>
		Administración de sistemas de almacenamiento heterogéneos.
	</li>
	<li>
		Mejora la eficiencia del almacenamiento, llevando a las empresas a aprovechar la capacidad no utilizada.
	</li>
</ul>
<p>
	Originaria de IBM hace unos 40 años, la virtualización ha adquirido nueva vida en una serie de contextos: los
	servidores virtuales de almacenamiento virtual, redes optimizadas, estaciones de trabajo y la virtualización de
	aplicaciones. Los beneficios potenciales son de largo alcance, que van desde una mayor utilización y flexibilidad de
	negocio, mejora de la productividad, reducción total de los costos  de la informática y una mayor fiabilidad.
	Dependiendo del punto de partida, el tipo y el alcance de la virtualización de aplicación, los clientes pueden
	lograr algunos o muchos de estos beneficios rápidamente.
</p>
<p>
	Almacenamiento y virtualización de servidores son tecnologías complementarias que ayudan a crear una ambiente de
	infraestructura completamente virtualizado. 
</p>
<p>
	Cuando se usan juntos, virtualización de servidores y almacenamiento están destinadas a permitir un mayor beneficio
	de cada tecnología que si usted los administra en forma manual.
</p>
<p>
	El IBM System Storage SAN Volume Controller (SVC) es un sistema de virtualización de almacenamiento que permite a
	través de un único punto de control acceder a los recursos de almacenamiento para ayudar a mejorar la disponibilidad
	de aplicaciones de negocios y una mayor utilización de los recursos.
</p>
<p>
	El objetivo es administrar los recursos de almacenamiento en su infraestructura de TI y para asegurarse de que está
	acostumbrado a la ventaja de su negocio y hacerlo rápido, eficiente, en tiempo real, evitando al mismo tiempo los
	costos administrativos.
</p>