<div class="unfolded-title">
	<span class="green">servicios</span>
	<span class="black">Services</span>
</div>
<div class="unfolded-description">
	<p>
    Actividades de especialistas que aseguran la correcta instalación
    y puesta a punto de la infraestructura de HW y SW garantizando que
    la solución que se ofrece cumpla con los niveles de servicio para lo
    que fueron diseñados.
	</p>
</div>
<div class="unfolded-links">
	<a class="unfolded-link" href="#cross">
		<img src="@Url.Content("~/Content/images/left-arrow.png")" alt="&lt;" width="8" height="18"/>
		<span>Regresar</span>
	</a>
	<a class="unfolded-link transition" href="/Services">
		<span>Más información...</span>
		<img src="@Url.Content("~/Content/images/right-arrow.png")" alt="&gt;" width="8" height="18"/>
	</a>
</div>