<div class="unfolded-title">
	<span class="green">servidores</span>
	<span class="black">Servers</span>
</div>
<div class="unfolded-description">
	<p>
		Servidores IBM POWER 7. Ayudan a simplificar y optimizar
        su infraestructura de IT soportado por sistemas operativos de AIX® y Linux®.
        Servidores IBM x86 para Windows y Linux están diseñados para brindar alta
        disponibilidad  administración simplificada, un performance sobresaliente y
        una gran escalabilidad.
	</p>
</div>
<div class="unfolded-links">
	<a class="unfolded-link" href="#cross">
		<img src="@Url.Content("~/Content/images/left-arrow.png")" alt="&lt;" width="8" height="18"/>
		<span>Regresar</span>
	</a>
	<a class="unfolded-link transition" href="/Solutions/Servers">
		<span>Más información...</span>
		<img src="@Url.Content("~/Content/images/right-arrow.png")" alt="&gt;" width="8" height="18"/>
	</a>
</div>