<div class="unfolded-title">
	<span class="green">aplicaciones</span>
	<span class="black">Software</span>
</div>
<div class="unfolded-description">
	<p>
        Herramientas de software para infraestructura  tecnológica Oracle, IBM, VMware.
        Abiertas, robustas, flexibles, dinámicas y modulares, especialmente diseñadas
        para satisfacer sus cambiantes necesidades.
	</p>
</div>
<div class="unfolded-links">
	<a class="unfolded-link" href="#main">
		<img src="@Url.Content("~/Content/images/left-arrow.png")" alt="&lt;" width="8" height="18"/>
		<span>Regresar</span>
	</a>
	<a class="unfolded-link transition" href="/Solutions/Software">
		<span>Más información...</span>
		<img src="@Url.Content("~/Content/images/right-arrow.png")" alt="&gt;" width="8" height="18"/>
	</a>
</div>