<div class="unfolded-title">
	<span class="green">almacenamiento</span>
	<span class="black">Storage</span>
</div>
<div class="unfolded-description">
	<p>
		En la actualidad, la administración del almacenamiento de datos con el crecimiento
		explosivo y la complejidad del manejo de la información es un gran reto.
		Las viejas formas de administración se han vuelto menos eficaces debido a las
		limitaciones de recurso físicos y humanos las organizaciones de IT deben actuar
		rápido para optimizar y simplificar su infraestructura.
	</p>
</div>
<div class="unfolded-links">
	<a class="unfolded-link" href="#cross">
		<img src="@Url.Content("~/Content/images/left-arrow.png")" alt="&lt;" width="8" height="18"/>
		<span>Regresar</span>
	</a>
	<a class="unfolded-link transition" href="/Solutions/Storage">
		<span>Más información...</span>
		<img src="@Url.Content("~/Content/images/right-arrow.png")" alt="&gt;" width="8" height="18"/>
	</a>
</div>