<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="RewriteBlankPageUrl" stopProcessing="true">
                    <match url="^$" />
                    <action type="Rewrite" appendQueryString="false" url="page.php" />
                </rule>
                <rule name="RewriteGalleryUrl" stopProcessing="true">
                    <match url="^gallery$" ignoreCase="true" />
                    <action type="Rewrite" appendQueryString="false" url="gallery.php" />
                </rule>
                <rule name="RewriteAdminUrl" stopProcessing="true">
                    <match url="^admin$" ignoreCase="true" />
                    <action type="Rewrite" appendQueryString="false" url="admin.php" />
                </rule>
                <rule name="RewritePageUrls" stopProcessing="true">
                    <match url="^([^/]+)/?([^/]*)/?(.*)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" appendQueryString="false" url="page.php?s={R:1}&amp;ss={R:2}&amp;p={R:3}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>

