@CHARSET "UTF-8";

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
label {
    display:inline-block;
    min-width:100px;
    text-align:right;
    padding:0 4px 0px 0;
}
input {
    border:solid 1px ;
    padding:2px;
    margin-bottom:5px;
    text-align:left;
}
input.text {
    width: 200px;
}
button {
    display:inline-block;
    float:right;
    border:none;
    cursor:pointer;
    font-size:12px;
    text-align:center;
    color:#FFFFFF;
    background:url(../images/button.gif) 0 0 no-repeat;
    width:76px;
    height:25px;
}