@model Mictlanix.WebSites.JMR.Models.Subscriber
@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "newsletters-form" }))
{
    <fieldset>
        <label>Nombre / Empresa</label>
        @Html.ValidationMessageFor(x => x.Name)
        @Html.EditorFor(x => x.Name)
        <label>Correo Electrónico</label>
        @Html.ValidationMessageFor(x => x.Email)
        @Html.EditorFor(x => x.Email)
    </fieldset>
    <button type="submit">Enviar</button>
}