<div id="services-page-01">
	<div class="services-text-left">
		<div class="service">
			<div class="adornment"></div>
			<h3>Servidores System X de IBM</h3>
			<ul>
				<li>Soporte técnico en configuraciones de Windows Server 2003 y 2008.</li>
				<li>Instalación de cluster de Windows.</li>
				<li>Conexión SAN a arreglos de discos de IBM y no-IBM.</li>
				<li>Consolidación de servidores.</li>
				<li>Virtualización utilizando VmWare.</li>
				<li>Migración de aplicaciones y datos.</li>
			</ul>
		</div>
		<div class="service">
			<div class="adornment"></div>
			<h3>Servidores pSeries AIX</h3>
			<ul>
				<li>Instalación de sistema operativo AIX 5.x</li>
				<li>Administración, instalación, adecuación de dispositivos físicos y lógicos.</li>
				<li>Administración de almacenamiento.</li>
				<li>Respaldos de información con Tivoli Storage Manager.</li>
				<li>Administración de usuarios.</li>
				<li>Configuración de base de datos ODM.</li>
				<li>Configuración de servidores de correo, de comunicaciones.</li>
				<li>Instalación, configuración y administración de alta disponibilidad (HACMP).</li>
			</ul>
		</div>
		<div class="service">
			<div class="adornment"></div>
			<h3 class="services-title">Linux</h3>
			<ul>
				<li>Instalación, configuración y puesta a punto de Red Hat.</li>
				<li>Upgrades de versiones.</li>
				<li>Configuración de Clusters.</li>
				<li>Migración a otro Hardware.</li>
				<li>Migraciones con SAP.</li>
			</ul>
		</div>
	</div>
	<div class="services-text-right">
		<div class="service">
			<div class="adornment"></div>
			<h3 class="services-title">Sistemas de almacenamiento IBM</h3>
			<ul>
				<li>Instalación y puesta a punto de una SAN con servidores, arreglos de discos, switch, unidad de cintas.</li>
				<li>Puesta a punto de equipos DS3000, DS4000, DS5000, DS8000, NAS, XIV.</li>
				<li>Instalación de bibliotecas de cintas 3570, 3575, TS3100, TS3200.</li>
				<li>Asesoría e instalación de sistemas de virtualización San Volume Controller.</li>
				<li>Configuración de procesos de copiado avanzado Flash y Volume Copy.</li>
			</ul>
		</div>
		<div class="service">
			<div class="adornment"></div>
			<h3 class="services-title">Tivoli Storage Manager / Tivoli Productivity Center</h3>
			<ul>
				<li>Instalación del licenciamiento.</li>
				<li>Asesoría en la configuración de las políticas.</li>
				<li>Supervisión de la implantación de la solución de respaldo.</li>
				<li>Talleres de trabajo para la implantación y administración.</li>
				<li>Assessments.</li>
				<li>Cursos.</li>
			</ul>
		</div>
		<div class="service">
			<div class="adornment"></div>
			<h3>Portafolio de servicios Data Management (DB2, Informix y Oracle)</h3>
			<ul>
				<li>Instalación y puesta a punto.</li>
				<li>Upgrade de versiones.</li>
				<li>Migración de datos.</li>
				<li>Migración a otro motor de base de datos.</li>
				<li>Migración a otro sistema operativo.</li>
				<li>Optimización de SQL y Stored Procedures.</li>
				<li>Upgrade y Desarrollo de 4 GL (DB2).</li>
				<li>Desarrollo de Stored Procedures.</li>
				<li>Configuración con HACMP.</li>
				<li>Configuración de cluster a nivel base de datos.</li>
				<li>Configuración de respaldo con TSM.</li>
				<li>Migraciones con SAP.</li>
			</ul>
		</div>
	</div>
	<img class="services-gray-logo" src="@Url.Content("~/Content/images/asit-gray-logo.png")" alt="ASIT"/>
	<div id="services-right-bar">
		<img src="@Url.Content("~/Content/images/services-bar.png")" alt="Más Servicios"/>
		<a href="#page2">
			<img src="@Url.Content("~/Content/images/right-arrow.png")" alt="&gt;"/>
		</a>
	</div>
</div>