<div id="services-page-02">
	<div class="services-text-left">
		<h3 class="services-title"> Servicios de Administración Estándar de Base de Datos</h3>
		<ul>
			<li>Instalación y configuración de Oracle Server Enterprise Edition y Standard Edition Versiones 7.x , 8.x, 9.x y 10g.</li>
			<li>Creación de Bases de Datos.</li>
			<li>Dimensionamiento o “sizing”para las Bases de Datos.</li>
			<li>Implementación de Backups Restore, S.O. , Lógicos y Utilizando RMAN.</li>
			<li>Administración en General de la Base de Datos.</li>
		</ul>
		<h3 class="services-title">Servicios de Administración Avanzada de Base de Datos</h3>
		<ul>
			<li>Implementación de Backups &amp; Restore Utilizando RMAN vs TSM, Legato, Storage Manager, Veritas Net*Backup.</li>
			<li>Oracle DataGuard.</li>
			<li>Oracle RAC.</li>
			<li>Oracle Replication.</li>
			<li>Oracle Streams.</li>
			<li>Administración de Ambientes de Bases de Datos con algunas de las siguientes características operando: (RAC, Dataguard, Replication, Streams).</li>
			<li>Afinación y Migración de Bases de Datos.</li>
		</ul>
		<h3 class="services-title"> Desarrollo de Sistemas a la Medida</h3>
		<ul>
			<li>Desarrollo de sistemas con Oracle Developer/2000, Oracle iDS (Todas las versiones).</li>
			<li>Manejo Avanzado de las herramientas de desarrollo (Oracle forms, Oracle Reports, Designer, JDeveloper, Oracle Discoverer).</li>
			<li>Upgrades y migraciones de sistemas basados en tecnología Oracle.</li>
		</ul>
	</div>
	<div class="services-green-line"></div>
	<img class="services-page-02-image" src="@Url.Content("~/Content/images/services-page2-woman.png")" alt="Ilustración"/>
	<img class="services-gray-logo" src="@Url.Content("~/Content/images/asit-gray-logo.png")" alt="ASIT"/>
	<div id="services-left-bar">
		<img src="@Url.Content("~/Content/images/services-left-bar.png")" alt="Regresar"/>
		<a href="#page1">
			<img src="@Url.Content("~/Content/images/services-left-arrow.png")" alt="&lt;"/>
		</a>
	</div>
</div>