@using Mictlanix.WebSites.JMR.Properties

@{
    ViewBag.Title = Resources.Title_ChangePassword;
}

<h2>@Resources.DisplayName_ChangePassword</h2>
<p>
    @Resources.Message_ChangePasswordSuccess
    <p>
    @Html.ActionLink(Resources.BackToList, "Index", "Admin")
    </p>
</p>
