/* WYMeditor */

/* PARA: Background */
body {
    color: white;
    background: black;
}

/* PARA: Date */
p.date {
  color: #ccf;
  /* background-color: #ff9; border: 2px solid #ee9; */
}

/* PARA: Hidden note */
p.hidden-note /* p[@class!="important"] */ {
     display: none;
    /* color: #999; border: 2px solid #ccc; */
}

/* /WYMeditor */
/* END EDITOR RELATED STYLES */