@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h2>
        Hubo un error al procesar tu solicitud.
    </h2>
    <h3>
    	Favor de revisar que la dirección que coincida con mayúsculas y minúsculas.
    </h3>
</body>
</html>